* {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

:root {
    --headerColor: #403D95;
    --input-background: #5654B1;
    --nice-gray-background: linear-gradient(0deg, #FBFAFE 0%, white 100%);
    --button-background: #333466;
    --button-background-hover: #2A2B58;
    --text-color: white;
}

body {
    background: var(--headerColor);
}

.header {
    padding: 5rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: var(--headerColor);
    color: var(--text-color);   
}

.content {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.input-button {
    margin-top: 80px;
    display: flex;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.button {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 45px;
    padding: 0 20px;
    background-color: var(--button-background);
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.24px;
    line-height: 1.5;
    -moz-transition: background-color 150ms;
    transition: background-color 150ms;
}

.input {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    background-color: var(--input-background);
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5;
}

.footer {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-weight: 300;
}

.created-by {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
}


.pointer {
    cursor: pointer;
}

.button:hover {
    background-color:var(--button-background-hover);
}

.m-t-30 {
    margin-top: 30px
}

.m-b-30 {
    margin-bottom: 30px
}

.thin {
    font-weight: 300 !important;
}

.center-100 {
    width: 100%;
    text-align: center;
}



/* radio buttons */

.box {
    padding: 12px 10px;
    box-shadow: 0 8px 16px rgba(50,50,93,.1);
    color: white;
    transition: transform .3s cubic-bezier(.165,.84,.44,1);
    will-change: transform;
    cursor: pointer;
    background: var(--input-background);
}

.radio-group {
    width: 210px;
}


input[type="radio"] {
  display: none;
  /* Made by */
}
input[type="radio"]:checked + .box {
    background: #fff;
    color: #24b47e;
    border-radius: 2px;
}

input[type="radio"]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}
input[type="radio"] .box {
  background-color: #fff;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: "Dax", sans-serif;
  font-weight: 900;
}
input[type="radio"] .box:active {
  transform: translateY(10px);
}
input[type="radio"] .box span {
  position: absolute;
  transform: translate(0, 60px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.5em;
  user-select: none;
  color: #007e90;
}
input[type="radio"] .box span:before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
input[type="radio"] .front-end span:before {
  content: '\f121';
}
input[type="radio"] .back-end span:before {
  content: '\f0f4';
}
input[type="radio"] p {
  color: #fff;
  font-family: "Dax", sans-serif;
  font-weight: 400;
}
