
.box {
    padding: 12px 10px;
    box-shadow: 0 8px 16px rgba(50,50,93,.1);
    color: white;
    transition: transform .3s cubic-bezier(.165,.84,.44,1);
    will-change: transform;
    cursor: pointer;
    background: var(--input-background);
}

.radio-group {
    width: 210px;
}


input[type="radio"] {
  display: none;
  /* Made by */
}
input[type="radio"]:checked + .box {
    background: #fff;
    color: #24b47e;
    border-radius: 2px;
}

input[type="radio"]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}
input[type="radio"] .box {
  background-color: #fff;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: "Dax", sans-serif;
  font-weight: 900;
}
input[type="radio"] .box:active {
  transform: translateY(10px);
}
input[type="radio"] .box span {
  position: absolute;
  transform: translate(0, 60px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.5em;
  user-select: none;
  color: #007e90;
}
input[type="radio"] .box span:before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
input[type="radio"] .front-end span:before {
  content: '\f121';
}
input[type="radio"] .back-end span:before {
  content: '\f0f4';
}
input[type="radio"] p {
  color: #fff;
  font-family: "Dax", sans-serif;
  font-weight: 400;
}
